#rateDisplay {
    width: 1300px;
    height: 100px;
    margin: -70px 0 0 -170px;
    position: absolute;
    top: 20%; left: 30%;
    font-family: 'Montserrat', sans-serif; font-size: 100px;

}

#rateDisplay input[type=text],
#rateDisplay input[type=text]:hover,
#rateDisplay input[type=text]:focus,
#rateDisplay input[type=text]:active
{
    border: 0;
    outline: none;
    outline-offset: 0;
    background-color:transparent;
    font-family: 'Montserrat', sans-serif; font-size: 45px;
}


#toFromRateDate, #fromToRateDate {
    margin-bottom: 160px;
    font-family: 'Montserrat', sans-serif; font-size: 13px;
}